# Expo
.expo/
dist/
web-build/

# Native
ios/
android/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
